.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid whitesmoke 2px;
    background-color: black;
    color: whitesmoke;
    padding: 0.6rem 2rem;
    margin-bottom: 2rem;
    width: 96.5%;
  }
  
  .header .links {
    display: flex;
    gap: 2rem;
  }
  
  .header .links .link {
    color: whitesmoke;
    font-size: 1.5rem;
    text-decoration: none;
  }